.p-flow{
  display: block;
  @include _mq-up(xl){
    display: flex;
  }
  &-list{
    flex: 1;
    > li {
      a{
        width: 100%;
        padding: 25px 16px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        background-color: #fff;
        text-decoration: none;
        color: $_color-text;
        transition: 0.3s;
        @include _mq-up(lg){
          padding: 30px 40px;
        }
        &.active{
          opacity: 0.5;
          box-shadow: none;
        }
        h4{
          font-size: 18px;
          margin-bottom: 0.5em;
          @include _mq-up(lg){
            font-size: 25px;
          }
        }
        p{
          overflow: hidden;
          height: 44px;
          line-height: 1.5;
          @include _mq-up(lg){
            height: 48px;
          }
        }
        &:hover{
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.16);
        }
      }
      + li{
        margin-top: 20px;
      }
    }
  }
  &-sidebar{
    width: 100%;
    margin: 100px auto 0;
    @include _mq-up(xl){
      width: 350px;
      margin: 0 0 0 50px;
    }
  }
  &-item{
    &-txtWrapper{
      flex: 1;
    }
    &__btn{
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid $_color-line;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      @include _mq-up(lg){
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 50%;
      }
      &.active{
        background-color: $_color-line;
      }
      &-icon{
        font-size: 16px;
        line-height: 30px;
        color: $_color-line;
        @include _mq-up(lg){
          font-size: 25px;
          line-height: 55px;
        }
        &.active{
          color: #fff;
        }
      }
    }
  }
}

