.p-flow{
  &-list{
    > li {
      a{
        width: 100%;
        padding: 25px 16px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        background-color: #fff;
        text-decoration: none;
        color: $_color-text;
        transition: 0.3s;
        @include _mq-up(lg){
          width: 740px;
          padding: 30px 40px;
        }
        h4{
          font-size: 18px;
          margin-bottom: 0.5em;
          @include _mq-up(lg){
            font-size: 25px;
          }
        }
        p{
          overflow: hidden;
          height: 44px;
          @include _mq-up(lg){
            height: 48px;
          }
        }
        &:hover{
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.16);
        }
      }
      + li{
        margin-top: 20px;
      }
    }
  }
  &-item{
    &-txtWrapper{
      flex: 1;
    }
    &-btn{
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $_color-line;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      @include _mq-up(lg){
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 50%;
      }
      img{
        width: 16px;
        @include _mq-up(lg){
          width: 24px;
        }
      }
    }
  }
}