.p-formWrapper{
  padding: 80px 16px 100px;
  background-color: #fff;
  &.as_register{
    background-color: $_color-bg;
  }
  @include _mq-up(){
    padding: 80px 36px 100px;
  }
}
.p-form{
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: $_color-bg;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
  padding: 55px 16px;
  @include _mq-up(){
    padding: 100px 70px;
    border-radius: 30px;
  }
  text-align: center;
  &.as_register{
    background-color: #fff;
  }
  &-title{
    @include _flex-center();
    margin-bottom: 50px;
    img{
      width: 150px;
      @include _mq-up(){
        width: 241.3px;
        height: 93px;
      }
    }
  }
  &-links{
    display: flex;
    margin-bottom: 30px;
    @include _mq-up(){
      margin-bottom: 76.5px;
    }
  }
  &-link{
    width: 50%;
    font-size: 16px;
    border-bottom: 2px solid $_color-line;
    padding-bottom: 13.5px;
    a{
      text-decoration: none;
      color: $_color-line;
      cursor: pointer;
    }
    &.is-active{
      border-color: $_color-link;
      a{
        color: $_color-link;
      }
    }
    &.as_large{
      width: 100%;
    }
  }
  &-passReset{
    font-size: 14px;
    margin-bottom: 5px;
    a{
      text-decoration: none;
    }
  }
  &__btn{
    background-color: $_color-link;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    min-width: 160px;
    font-size: 14px;
    transition: 0.2s;
    &:focus{
      outline: none;
    }
    &:hover{
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
    }
  }
  &-flow{
    display: flex;
    margin-bottom: 35px;
    &__item{
      text-align: left;
      padding: 10px 5px;
      background-color: $_color-line;
      position: relative;
      font-size: 14px;
      line-height: 1;
      margin-right: 13px;
      height: 60px;
      @include _mq-up(sm){
        margin-right: 26px;
        font-size: 14px;
        padding: 10px;
        height: 64px;
        margin-right: 17px;
      }
      @include _mq-up(){
        padding: 13px 16px;
      }
      a{
        color: $_color-text;
        text-decoration: none;
      }
      span{
        display: block;
        font-size: 12px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 3px;
        letter-spacing: 0.04em;
        @include _mq-up(sm){
          font-size: 14px;
          margin-bottom: 6px;
        }
      }
      &::before{
        position: absolute;
        content: '';
        top: 0;
        left: -12px;
        border-left: 12px solid transparent;
        border-top: 30px solid $_color-line;
        border-bottom: 30px solid $_color-line;
        @include _mq-up(sm){
          left: -15px;
          border-left: 15px solid transparent;
          border-top: 32px solid $_color-line;
          border-bottom: 32px solid $_color-line;
        }
      }
      &::after{
        position: absolute;
        content: '';
        top: 0;
        right: -12px;
        display: inline-block;
        border-left: 12px solid $_color-line;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        @include _mq-up(sm){
          right: -15px;
          border-left: 15px solid $_color-line;
          border-top: 32px solid transparent;
          border-bottom: 32px solid transparent;
        }
      }
      &:first-child{
        flex-grow: 1.2;
        &::before{
          display: none;
        }
      }
      &:last-child{
        flex-grow: 1.2;
        margin-right: 0;
        &::after{
          display: none;
        }
      }
      &.is-active{
        background-color: $_color-link;
        &::before{
          border-top: 30px solid $_color-link;
          border-bottom: 30px solid $_color-link;
          @include _mq-up(sm){
            border-top: 32px solid $_color-link;
            border-bottom: 32px solid $_color-link;
          }
        }
        &::after{
          border-left: 12px solid $_color-link;
          @include _mq-up(sm){
            border-left: 15px solid $_color-link;
          }
        }
      }
    }
  }
  &-inputs{
    padding: 0;
    margin-bottom: 25px;
    @include _mq-up(){
      padding: 0 20px;
      margin-bottom: 50px;
    }
    dl{
      display: block;
      margin-bottom: 30px;
      > dt{
        text-align: left;
        line-height: 1.67;
        font-size: 14px;
        margin-bottom: 5px;
        span{
          background-color: $_color-link;
          color: #fff;
          font-size: 10px;
          border-radius: 15px;
          padding: 3px 8px;
          margin-left: 10px;
          line-height: 1.5;
        }
      }
      > dd{
        flex: 1;
        text-align: left;
        input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
          height: 53px;
          width: 100%;
          padding: 10px 20px;
          font-size: 16px;
          border: none;
          border-radius: 10px;
          outline: none;
          background-color: $_color-line;
          @include _mq-up(){
            height: 60px;
          }
          &::placeholder {
            color: $_color-line;
            @include _mq-up(){
              color: #fff;
            }
          }
          &.is-error{
            background-color: $_color-error-bg;
            border: 1px solid $_color-error;
          }
        }
        select::-ms-expand {
          display: none;
        }
        select{
          height: 53px;
          width: 70%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          outline: none;
          padding: 10px 20px;
          font-size: 16px;
          background-color: $_color-line;
          border-radius: 10px;
          color: $_color-text;
          position: relative;
          @include _mq-up(){
            background-color: $_color-line;
            height: 60px;
          }
          option:disabled{
            color: $_color-text;
          }
          &::placeholder {
            color: $_color-line;
            @include _mq-up(){
              color: #fff;
            }
          }
        }
        textarea{
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          resize: none;
          border: 0;
          outline: none;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 10px;
          background-color: $_color-line;
          @include _mq-up(){
            background-color: $_color-line;
          }
          &::placeholder{
            color: #fff;
          }
          &.is-error{
            background-color: $_color-error-bg;
            border: 1px solid $_color-error;
          }
        }
      }
    }
    &.as_register{
      padding: 0;
      text-align: left;
      dl{
        display: block;
        > dt{
          margin-bottom: 5px;
        }
        > dd{
          .p-form-input__time{
            width: 30%;
            margin-right: 10px;
          }
        }
      }
    }
    &.as_confirm{
      dl{
        > dt{
          background-color: $_color-text;
          color: #fff;
          padding: 2px 10px;
          display: inline-block;
          margin-bottom: 10px;
        }
      }
    }
  }
  &-input{
    &__select{
      position: relative;
      &::after{
        position: absolute;
        content: "\f0dd";
        font-family: "Font Awesome 5 Pro";
        color: #313131;
        font-weight: 900;
        font-size: 125%;
        top: 16px;
        margin-left: -30px;
      }
    }
  }
  &-file{
    &__label{
      padding: 3px 5px;
      border: 1px solid $_color-inputbg;
      cursor: pointer;
      > input[type="file"]{
        display: none;
      }
      &::after {
        content: '+';
        font-size: 1rem;
        color: $_color-text;
        padding-left: 10px;
      }
    }
    &__photo{
      position: relative;
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
      border: 3px solid $_color-inputbg;
      background-color: $_color-inputbg;
      overflow: hidden;
      margin-bottom: 10px;
      &:before {
        content:"";
        display: block;
        padding-top: 61.3%;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-preview{
      position: relative;
      width: 100%;
      max-width: 400px;
      background-color: $_color-inputbg;
      overflow: hidden;
      border-radius: 10px;
      border: 3px solid $_color-inputbg;
      &:before {
        content:"";
        display: block;
        padding-top: 61.3%;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__btn{
      margin-top: 10px;
      cursor: pointer;
    }
  }
  &-submit{
    button, input[type="submit"]{
      width: 240px;
      height: 40px;
      border-radius: 20px;
      background-color: $_color-link;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0;
      border: none;
      outline: none;
      font-size: 14px;
      color: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      @include _mq-up(){
        height: 50px;
        border-radius: 25px;
      }
      &:disabled {
        background-color: $_color-line;
        pointer-events: none;
      }
      &:hover{
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
        opacity: 0.8;
      }
    }
    &.as_stepform{
      display: flex;
      justify-content: space-between;
    }
  }

  &-add{
    text-align: center;
    margin-bottom: 50px;
    button{
      width: 120px;
      height: 30px;
      font-size: 12px;
      background-color: $_color-text;
      appearance: none;
      border: none;
      outline: none;
      color: #fff;
      cursor: pointer;
    }
  }

  &__errorMsg{
    color: $_color-error;
    margin-top: 5px;
    display: inline-block;
  }
}