.p-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  background-color: rgba(#fff, 0.9);
  @include _mq-up(){
    display: block;
    height: 100vh;
    padding: 45px 25px;
  }
  &-titleWrapper{
    margin-bottom: 0;
    @include _mq-up(){
      width: 160px;
      margin: 0 auto 50px;
    }
    a{
      text-decoration: none;
      color: $_color-text;
      display: flex;
      align-items: center;
      @include _mq-up(){
        display: block;
      }
    }
  }
  &-title{
    width: 120px;
    margin-right: 10px;
    @include _mq-up(){
      width: 160px;
      margin-right: 0;
    }
  }
  &-subtitle{
    font-size: 13px;
  }

  &-category{
    &__icon{
      vertical-align: 3px;
      padding-left: 10px;
    }
    &-menu{
      display: none;
      padding-bottom: 20px;
      > li{
        font-size: 14px;
        cursor: pointer;
        background-color: #fff;
        margin: 10px 0px;
        &:hover{
          opacity: 0.5;
        }
        &::before{
          content: '・';
          display: inline-block;
        }
      }
      &.--login{
        > li{
          background-color: $_color-bg;
          padding: 10px;
        }
      }
    }
  }
  &-btns{
    @include _mq-up(){
      position: absolute;
      bottom: 0;
      ul > li{
        margin-bottom: 15px;
      }
    }
  }
  &-btn{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    &.--login{
      background-color: #fff;
      border: none;
      a{
        color: $_color-text;
        border: 1px solid $_color-text;
        display: block;
        border-radius: 20px;
        &:hover{
          background-color: $_color-text;
          color: #fff;
        }
      }
    }
    &.--logout{
      background-color: $_color-text;
      a{
        color: #fff;
        display: block;
        border-radius: 20px;
      }
      &:hover{
        opacity: 0.5;
      }
    }
    &.--signup{
      a{
        color: #fff;
        display: block;
        border-radius: 20px;
        background-color: $_color-signup;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    &__mypage a{
      text-decoration: none;
      color: #000;
      display: flex;
      align-items: center;
    }
  }
  &-humberger{
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 30px;
    width: 35px;
    span{
      display: block;
      cursor: pointer;
      margin-right: 20px;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      &:nth-of-type(1){
        position: absolute;
        left: 0;
        top: 0;
        width: 35px;
        background-color: #333;
        height: 2px;
        margin-bottom: 10px;
      }
      &:nth-of-type(2){
        position: absolute;
        left: 0;
        top: 10px;
        width: 30px;
        background-color: #333;
        height: 2px;
        margin-bottom: 10px;
      }
      &:nth-of-type(3){
        font-size: 12px;
        position: absolute;
        bottom: 0;
      }
    }
    &.is-active{
      span{
        &:nth-of-type(1){
          transform: rotate(45deg);
          top: 12px;
        }
        &:nth-of-type(2){
          transform: rotate(-45deg);
          top: 12px;
          width: 35px;
        }
        &:nth-of-type(3){
          opacity: 0;
        }
      }
    }
  }

  // pc-menu
  // =======================================
  &-pcMenu{
    @include _mq-up(){
      > ul > li{
        display: block;
        color: $_color-text;
        font-size: 18px;
        font-weight: $_font-weight-bold;
        text-decoration: none;
        margin-bottom: 30px;
        cursor: pointer;
        a{
          color: $_color-text;
          text-decoration: none;
          transition: 0.2s;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }


  // sp-menu
  // =======================================
  &-spMenu{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: scroll;
    height: 100vh;
    background-color: rgba($_color-bg, 0.95);
    padding: 15vh 0;
    transition: 0.2s;
    @include _mq-up(){
      display: none;
    }
    &.is-active{
      visibility: visible;
    }
    &__logo{
      text-align: center;
      margin-bottom: 50px;
      a{
        display: inline-block;
        width: 200px;
      }
    }
    &-list{
      margin-bottom: 50px;
      padding: 0 16px;
      > li{
        cursor: pointer;
        border-top: 1px solid $_color-line;
        padding: 0 16px;
        font-size: 20px;
        font-weight: bold;
          line-height: 2.5;
        a{
          color: $_color-text;
          text-decoration: none;
        }
        &.--login{
          &:first-child{
            line-height: 4;
            a{
              display: flex;
              align-items: center;
            }
          }
        }
        &:last-child{
          border-bottom: 1px solid $_color-line;
        }
      }
    }
    &__btns{
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
    }
    &__btn{
      width: 160px;
      height: 40px;
      border-radius: 20px;
      &.--signup{
        a{
          background-color: $_color-signup;
          color: #fff;
          border-radius: 20px;
          width: 160px;
          text-align: center;
          line-height: 40px;
        }
      }
      &.--login{
        border: 1px solid $_color-text;
        background-color: #fff;
        a{
          color: $_color-text;
          border-radius: 20px;
          width: 160px;
          text-align: center;
          line-height: 40px;
        }
      }
      &.--logout{
        a{
          background-color: $_color-text;
          color: #fff;
          border-radius: 20px;
          width: 160px;
          text-align: center;
          line-height: 40px;
        }
      }
    }
    &__mypage{
      a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $_color-text;
      }
    }
  }
}