.p-mystep{
  width: 100%;
  box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.16);
  &-menu{
    display: flex;
    > li {
      flex: 1;
      @include _flex-center();
      height: 58px;
      background-color: $_color-bg;
      cursor: pointer;
      font-size: 14px;
      @include _mq-up(){
        height: 150px;
        font-size: 16px;
      }
      &.is-active{
        background-color: $_color-link;
      }
      + li{
        border-left: 1px solid #fff;
      }
    }
  }
  &-content{
    padding: 35px 20px;
    background-color: #fff;
  }
}