.p-pagination{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  >li{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid $_color-line;
    cursor: pointer;
    a{
      text-decoration: none;
      color: $_color-line;
      display: block;
    }
    &:hover{
      background-color: $_color-link;
      border: none;
      a{
        color: #fff;
      }
    }
    &.active{
      background-color: $_color-link;
      border: none;
      a{
        color: #fff;
      }
    }
    + li{
      margin-left: 10px;
    }
    &.disabled{
      display: none;
    }
  }
}