.p-rowpost{
  &-txtWrapper{
    padding: 10px 0;
    @include _mq-up(){
      margin-left: 24px;
      flex: 1;
    }
  }
  &__image{
    overflow: hidden;
    transition: border-radius 0.3s;
    @include _mq-up(){
      max-width: 310px;
    }
  }
  &__category{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 14px;
    padding: 2px 12px;
    background-color: #f4810b;
    border-radius: 11px;
    color: #fff;
    line-height: 1.43;
  }
  &__title{
    font-size: 20px;
    margin-bottom: 14px;
    @include _mq-up(lg){
      font-size: 30px;
    }
  }
  &-info{
    margin-bottom: 10px;
    font-size: 14px;
    @include _mq-up(lg){
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__time{
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 5px;
      span{
        margin-right: 10px;
        vertical-align: -1.5px;
      }
    }
    &__author{
      display: inline-block;
      span{
        margin-right: 10px;
      }
    }
  }
  &__txt{
    line-height: 1.5;
    height: 44px;
    overflow: hidden;
    @include _mq-up(){
      height: 48px;
    }
  }
  + .p-rowpost{
    margin-top: 60px;
    @include _mq-up(){
      margin-top: 0;
    }
  }
  a{
    display: block;
    text-decoration: none;
    color: $_color-text;
    padding: 0;
    transition: all 0.3s;
    @include _mq-up(){
      display: flex;
      padding: 45px 30px;
    }
    @include _mq-up(lg){
      padding: 45px 60px;
    }
    &:hover{
      @include _mq-up(){
        background-color: $_color-bg;
      }
      .p-rowpost__image {
        transition: border-radius 0.3s;
        border-radius: 50px;
        img{
          transform: scale(1.2);
          transition: transform 0.3s;
        }
      }
    }
  }
}