.l-header{
  position: fixed;
  width: 100%;
  z-index: 2;
  @include _mq-up(){
    width: 218px;
    overflow: scroll;
    height: 100vh;
    -ms-overflow-style: none; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  }
}