html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: map-get($_font-size, sm);
  line-height: 1.7;
  @include _mq-up() {
    font-size: map-get($_font-size, md);
  }
}

body {
  color: $_color-text;
  font-family: $_font-family-text;
  font-weight: $_font-weight-normal;
  /* アンチエイリアスを指定する */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  /* メトリクスカーニングを指定する */
  font-kerning: normal;
  background-color: $_color-bg;
  word-wrap: break-word;
}

ul, ol {
  list-style-type: none;
}
/**
 * ネストされたリストのマージンをリセットします。
 */
li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

p{
  line-height: 1.5;
}

/**
 * `dt`と`dd`の左端を揃えます。
 */
dd {
  margin-left: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

a {
  text-decoration: underline;
  color: $_color-link;
  &:visited {
    color: $_color-link--visited;
  }
  &:focus{
    outline: none;
  }
  @include _on-event {
    text-decoration: underline;
    color: $_color-link--hover;
  }
}

/**
 * フルードイメージにします。
 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
 * IEでSVGがフルードイメージにならない不具合があります。
 * 属性値が`.svg`で終わる要素に適応します。
 */
[src$=".svg"],
[data$=".svg"] {
  width: 100%;
}

/**
 * 日本語では斜体を使用しないためリセットします。
 */
i,
cite,
em,
address,
dfn {
  font-style: normal;
}

code,
pre {
    font-family: Consolas, Menlo, Courier, monospace;
}

code {
  padding: 0.2em;
  border-radius: $_radius;
  font-size: $_font-size--small;
  background-color: rgba(0,0,0,0.06);
}

pre code {
  padding: 0;
  font-size: $_font-size--small;
  background-color: inherit;
}

h1, h2, h3, h4{
  font-family: $_font-family-title;
}

p{
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

.js-objectfit{
  object-fit: cover;
	font-family: 'object-fit: cover;';
}