.s-index{
  &-btn{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: $_color-link;
    a{
      color: #fff;
      display: block;
      width: 100%;
      line-height: 50px;
      text-align: center;
    }
    &:hover{
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
      opacity: 0.8;
    }
    &-wrapper{
      display: flex;
      justify-content: center;
      &.--left{
        @include _mq-up(lg){
          justify-content: flex-start;
        }
      }
    }
  }
  &-heading{
    margin-bottom: 40px;
    letter-spacing: 0.04em;
  }

  // kv
  // ======================================
  &-kv{
    background-color: #fff;
    padding: 60px 30px;
    @include _mq-up(){
      padding: 60px 60px 100px;
    }
    &-btns{
      display: flex;
      justify-content: center;
      @include _mq-up(){
        justify-content: flex-end;
      }
    }
    &__btn{
      width: 160px;
      height: 40px;
      border-radius: 20px;
      text-align: center;
      line-height: 40px;
      display: inline-block;
      text-decoration: none;
      &.--login{
        border: 1px solid $_color-text;
        a{
          color: $_color-text;
        }
        &:hover{
          background-color: $_color-text;
          a{
            color: #fff;
          }
        }
      }
      &.--signup{
        margin-left: 30px;
        border-color: $_color-signup;
        a{
          color: #fff;
          background-color: $_color-signup;
          border-radius: 20px;
        }
        &:hover{
          opacity: 0.5;
        }
      }
    }
    &-inner{
      display: flex;
      position: relative;   
      flex-direction: column;
      max-width: 1200px;
      margin-top: 50px;
      justify-content: center;
      @include _mq-up(lg){
        flex-direction: unset;
        margin-top: 0;
        justify-content: space-between;
      }
    }
    &-titleWrapper{
      order: 2;
      margin-top: 50px;
      @include _mq-up(lg){
        order: 1;
        margin-top: 0;
        margin-right: 50px;
      }
    }
    &-title{
      font-size: 26px;
      letter-spacing: 0.1em;
      line-height: 1.6;
      margin-bottom: 30px;
      @include _mq-up(xl){
        font-size: 40px;
      }
    }
    &-text{
      margin-bottom: 60px;
    }
    &-img{
      position: relative;
      width: 100%;
      order: 1;
      max-width: 420px;
      @include _mq-up(lg){
        display: flex;
        align-items: flex-end;
        order: 2;
      }
    }
  }

  // about
  // ======================================
  &-about{
    padding: 60px 30px;
    @include _mq-up(){
      padding: 100px 60px;
    }
    &-points{
      display: block;
      margin-bottom: 30px;
      @include _mq-up(){
        display: flex;
      }
    }
    &-text{
      margin-bottom: 30px;
      @include _mq-up(){
        margin-bottom: 50px;
      }
    }
    &-point{
      width: 100%;
      text-align: center;
      padding: 30px;
      border-radius: 30px;
      background-color: #fff;
      @include _mq-up(lg){
        width: 50%;
        padding: 45px 60px;
      }
      &__title{
        font-size: 26px;
        color: $_color-link;
        margin-bottom: 30px;
        line-height: 1.5;
      }
      figure{
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
      }
      + .s-index-about-point{
        margin-top: 45px;
        @include _mq-up(){
          margin-left: 45px;
          margin-top: 0;
        }
      }
    }
  }

  // feature
  // ======================================
  &-feature{
    display: flex;
    flex-direction: column;
    @include _mq-up(){
      flex-direction: unset;
      justify-content: space-between;
    }
    &-wrapper{
      padding: 60px 30px;
      background-color: #fff;
      @include _mq-up(){
        padding: 100px 60px;
      }
    }
    &-textWrapper{
      flex-basis: 45%;
      padding-top: 20px;
      order: 1;
      margin-bottom: 30px;
      @include _mq-up(){
        order: unset;
        margin-bottom: 50px;
      }
    }
    &__number{
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      color: $_color-text;
      &::before{
        content: '';
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: $_color-text;
        vertical-align: 5px;
        margin-right: 10px;
      }
    }
    &__title{
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 1.5;
      background: linear-gradient(transparent 70%, $_color-link 70%);
      display: inline-block;
      @include _mq-up(){
        font-size: 28px;
        margin-bottom: 50px;
      }
    }
    &__text{
      font-size: 14px;
      @include _mq-up(){
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
    figure{
      flex-basis: 50%;
      order: 2;
      @include _mq-up(){
        order: unset;
      }
    }
    &.s-index-feature{
      margin-bottom: 50px;
    }
  }

  // ranking
  // ======================================
  &-ranking{
    padding: 60px 30px;
    @include _mq-up(){
      padding: 100px 60px;
    }
    &-panels{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-panel{
      width: 100%;
      @include _mq-up(sm){
        width: calc((100% - 20px) / 2);
      }
      @include _mq-up(lg){
        width: calc((100% - 40px) / 3);
      }
    }
  }

  // start
  // ======================================
  &-start{
    padding: 60px 30px;
    text-align: center;
    background-color: #fff;
    @include _mq-up(){
      padding: 100px;
    }
    &__text{
      margin-bottom: 30px;
    }
  }

}
